{%load static%}
    <!-- wrap -->
    <div id="wrap" style=" float:left; position: static; width: 10%;" >

        <!-- side_menu -->
        <!-- side_menu -->
        <div class="side_menu">
            <div class="all_menu">
                <span></span>
                <span></span>
            </div>
            <!-- //all_menu -->
                <!--  이미지라 바꿀 필요 있음. text로 넣으면 개안이쁨  -->
                <h1><img src="./images/layout/logo.png" alt="로고"></h1>
               
            <!-- <h2>LifeLog</h2> -->
            <ul class="a">
                <li class="on"><a href="{%url 'EmotionBoard:board_main'%}" class="home"><span>홈</span></a></li>
                <li><a href="{%url 'EmotionBoard:post_diary'%}" class="gallery"><span>일기 작성</span></a></li>
                <li><a href="#" class="source"><span>일기 리스트</span></a></li>
                <li><a href="#" class="face"><span>감정 전체 통계</span></a></li>
            </ul>
            <div class="footer_menu">
                <div class="select_box">
                    <div>
                        <dl>
                            <dt><a>{{user.username}}</a></dt>
                            <dd>
                                <a href="#">마이 페이지</a>
                                <a href="/accounts/logout">로그아웃</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!--<p>©openfield.</p>-->
            </div>
        </div>

    </div>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> -->